<!-- start custom head snippets -->

<meta name="google-site-verification" content="U1VAgdRlZJWlLXGlGnsAGbZA1TVBp2DG0c6XzQJNonY" />
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8423475960451668"
     crossorigin="anonymous"></script>
	<meta name="google-adsense-account" content="ca-pub-8423475960451668">
	<script async custom-element="amp-auto-ads"
        src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>



<!-- end custom head snippets -->
